<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="5" name="Test">
  
     <parameter name="Name" value="TestName"/>
     <parameter name="SKU" value="Test SKU"/>
     <parameter name="Description" value="Test Description"/>
     <parameter name="Salesprice/rate" value="25"/>
     <parameter name="deepak" value="gowda"/>
    <classes>
      <class name="sample.SampleTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
